.vscode/
build/
test*
cache/
ignore/
*.ipynb*
*.ipynb*/
*pycache*
*pycache*/
*.DS_Store*
*.DS_Store*/
dist/
*egg-info/
__*
__*/
!__init__.py
TODO
db/
dataset/
*.json
!final_eval_10_tasks/*.json
!final_eval_50_tasks/*.json
.gcp-credentials/